<div class="container">
  <h1 class="text-center">Video Games<h1>
  <ul class="cards list-group list-group-flush row row-cols-3">
    <% @listings.each do |listing| %>
      <li class="list-group-item col-12">
        <div class="card-product">
          <%= image_tag listing.game.cover %>
          <div class="card-product-infos">
            <h2><%= listing.game.name %></h2>
            <p> <%= listing.game.genres %> <strong><%= listing.game.aggregate_rating %></strong></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
