<div class="container mt-3">
  <h1 class="text-center">List a Game for Rental</h1>
  <form-container class="row g-3 justify-content-center">
    <form-col-container class="col-4">
      <%= simple_form_for @listing do |f| %>
        <%= f.association :game, collection: Game.all %>
        <%= f.input :price %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </form-col-container>
  </form-container>
</div>
