  <!-- Header -->
<header>
  <!-- Banner -->
  <div class="banner">
    <h1>Welcome to GameVault</h1>
    <h3>Discover a New Way to Play</h3>
    <%= link_to "Join Today", new_user_registration_path, class: "banner-btn" %>
  </div>
</header>
<!-- Services -->
<section class="services">
  <div class="services-wrapper">
    <h1>Our Services</h1>
    <div class="services-list">
      <div class="service">
        <i class="fa-solid fa-gamepad"></i>
        <h3>Rent Video Games</h3>
        <p>Choose from a wide variety of games across all platforms and have them delivered to your doorstep.</p>
      </div>
      <div class="service">
        <i class="fa-solid fa-handshake"></i>
        <h3>Rent Out Your Games</h3>
        <p>Earn money by renting out your own video games to other players.</p>
      </div>
      <div class="service">
        <i class="fa-solid fa-star"></i>
        <h3>Rate & Review</h3>
        <p>Share your experience with others by rating and reviewing games you’ve rented.</p>
      </div>
      <div class="service">
        <i class="fa-solid fa-truck"></i>
        <h3>Fast Delivery</h3>
        <p>Get your games delivered quickly and securely with our efficient delivery service.</p>
      </div>
    </div>
  </div>
</section>
