/* Banner */
.banner {
  position: absolute;
  top: 18%;
  left: 20%;
  z-index: 4;
  background-image: asset-url('nintendo.jpg');
  background-size: cover; // Ensures the image covers the entire banner
  background-position: center; // Center the image
  background-repeat: no-repeat;

  h1 {
    font-family: $font-family-logo;
    font-size: 11rem;
    color: $color-secondary;
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 1);
  }


  h3 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-secondary;
    /* text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); */
    margin: 0 0 3rem 3rem;
  }

  .banner-btn {
    display: inline-block;
    padding: 1.5rem 2rem;
    background-color: $color-primary;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $color-secondary;
    margin-top: 3rem;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: none;
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); */
    transition: all 0.3s;

    &:hover {
      transform: translateY(-0.2rem);
      background-color: $color-accent;
      color: #000;
    }
  }
}
