/* Footer */
footer {
  width: 100%;
  margin-top: 30rem;

  .footer-content {
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary;
    padding: .5rem 0;

    h3 {
      font-family: $color-primary;
      font-size: 3rem;
      color: $color-primary;
      margin-bottom: 1.5rem;
    }
  }

  .footer-items {
    display: flex;

    img {
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      margin: 0 2rem;
    }
  }
}
