/* Footer */
footer {
  width: 100%;

  .footer-content {
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 2rem 0;

    h3 {
      font-family: $color-primary;
      font-size: 3rem;
      color: #2f9e44;
      margin-bottom: 2rem;
    }
  }

  .footer-items {
    display: flex;

    img {
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      margin: 0 2rem;
    }
  }
}
