.show-container{
  display: flex;
}
// change class names
.card-listing {
  overflow: hidden;
  height: auto;
  width: 55%;
  font-family: $font-family-primary;
  text-align: center;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 40px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15rem;
  border-radius: 1.5px;
  box-shadow: 2px 2px 2px rgb(179, 179, 179);
}

.card-listing-seller{
  height: auto;
  width: 35%;
  font-family: $font-family-primary;
  text-align: center;
  background: white;
  margin: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  border-radius: 1.5px;
  box-shadow: 2px 2px 2px rgb(179, 179, 179);
  padding: 7rem;
}

.card-listing img {

  height: 100%;
  width: 350px;
  object-fit: cover;
  border-radius: 3px;
}

.card-listing h2 {
  color: black;
  font-size: 46px;
  font-weight: bold;
  margin: 0;
}

.card-listing p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
