.logo {
  display: flex;
  flex-direction: column;

  span:nth-child(1) {
    font-family: $font-family-logo;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-secondary;

    span {
      display: inline-block;
      font-size: 1.8rem;
      transform: translateY(-0.8rem);
    }
  }

  span:nth-child(2) {
    display: inline-block;
    font-family: $font-family-secondary;
    font-size: 1.5rem;
    color: $color-text-light;
    letter-spacing: .1rem;
    text-align: right;
    transform: translate(2.2rem, -1rem);
  }

  &.sticky span {
    color: #092627;
    text-shadow: none;
  }
}
