/* Services */
.services {
  width: 100%;
  height: 100rem;
  position: relative;

  .services-wrapper {
    width: 60%;
    background-color: $color-secondary;
    box-shadow: $box-shadow-heavy;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6rem 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: $font-family-logo;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $color-text-dark;
      letter-spacing: 0.1rem;
      margin-bottom: 8rem;
      z-index: 1;
    }

    .services-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .service {
        width: 28rem;
        height: 100%;
        margin: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .service i {
        width: 10rem;
        height: 10rem;
        background-color: #fff;
        box-shadow: $box-shadow-light;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        margin-bottom: 2rem;
        background: linear-gradient( $color-secondary, $color-primary 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .service h3 {
        font-size: 2rem;
        color: $color-text-muted;
        margin: 2rem 0;
      }

      .service p {
        font-size: 1.4rem;
        text-align: center;
        color: $color-text-muted-light;
      }
    }
  }
}
